<p>
  Hello, my name is Vlad. I am software artist from Russia. I dont write code, i write beautiful poems 😉.
</p>
<p>
  For the past year or more i have worked in medical transportation company, over there i've worked on iOS reactive cocoa apps,
  js front end, back end, helped around devops with aws, ci. Helped establish integration tests with Browserstack.
</p>
<p>
  My ultimate goal is bring people close to each other by understanding each own language and mentality. I started to do
  so with my japanese learning service https://moshimoshi.io
</p>
<p>
  Anyway, back to test task. I've split application in front end and back end. Because modern web javascript moved
  pretty far from approach of one library, one gem, and gems of js libs usually a bit outdated. I deployed my back end code
  https://github.com/SenhorBardell/rails-administrator to heroku and used github pages
  https://senhorbardell.github.io/react-administrator to host my front end
  https://github.com/SenhorBardell/react-administrator code. I used circle ci for continious integration, and skipped
  the
  front end tests part unfortunately. I was decomposing the project to tasks and projects over github, it is getting out
  of
  hands pretty quickly though.
</p>
<p>
  The admin user is john@doe.com:Test123
  Emails are going through sendGrid, it'll take a minute for email to get to inbox.
</p>
<p>Feel free to contact me at senhorbardell@gmail.com<p>
<p>Skype: senhorbardell</p>
<p>Github: https://github.com/SenhorBardell</p>
<p>Instagram: https://www.instagram.com/vlad.rimsha/</p>
<p>Sent from heroku app</p>